<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title -->
    <title>Lucky Schrub</title>
    <meta name="description" content="A planting website">
    <meta name="author" content="Lucky Schrub">
    <!-- Favicon Link -->
    <link rel="icon" type="image/x-icon" href="/static/img/lucky-schrub-logo3.ico">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
</head>
<body>
    <header>
        <img src="/static/img/lucky-schrub-logo2.png" alt="Lucky Schrub Logo">
    </header>
    <nav>
        <ul>
            <li><a class="nav-link" href="index.html">Home</a></li>
            <li><a class="nav-link" href="#">About Us</a></li>
            <li><a class="nav-link" href="#">Estimates</a></li>
            <li><a class="nav-link" href="#">Reschedule</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <article id="main-article">
                <h1 id="main-heading"><span>25% Off this Holiday Weekend!</span></h1>
                <p class="main-article-text">
                </p>
            </article>
        </section>
        <section>
            <article id="card">
                <h1 class="sub-heading">Design</h1>
                <img class="card-image" src="/static/img/design.png" alt="Garden design">
                <p class="article-text">Need to create a custom design for a residential or  commercial property? We work
                with our clients to create beautiful and functional outdoor spaces that meet their needs and budget.
                Lucky Schrub is committed to providing excellent customer service and creating gardens that our clients love.
                </p>
            </article>
            <article id="card">
                <h1 class="sub-heading">Maintenance</h1>
                <img class="card-image" src="/static/img/maintenance.png" alt="Garden design">
                <p class="article-text">From mowing and weeding to pruning and fertilization, our experienced and knowledgeable
                staff can handle all of your gardening needs. Lucky Shrub is committed to providing excellent customer service and
                helping you create a garden that you love.
                </p>
            </article>
            <article id="card">
                <h1 class="sub-heading">Landscaping</h1>
                <img class="card-image" src="/static/img/landscaping.png" alt="Garden design">
                <p class="article-text"> When it comes to landscaping we offer a variety of services, including planting trees and flowers,
                building patios and decks, and providing routine maintenance. Lucky Shrub is committed to creating beautiful and functional
                landscapes that meet the needs of our clients.
                </p>
            </article>
        </section>
    </main>
    <footer>
        <div id="footer-div">
            <img src="/static/img/lucky-schrub-logo2.png" alt="Lucky Schrub Logo">
            <h3>Copyright Lucky Schrub 2023</h3>
        </div>
    </footer>
</body>
</html>